@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

:root{
    --color-primer:#ffbb00;
    --color-segundo:#ff0000;
    --color-tercer:#039e00;
    --color-cuarto:#272829;
    --color-quinto:#ffffff;
    --amarillo:#ffbb00;
    --rojo:#ff0000;
    --verde:#036e00;
    --negro:#272829;
    --blanco:#ffffff;
    --boton-padding: 10px 25px;
    background: var(--color-quinto);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
body{
    background-color: var(--color-quinto);
}
*::selection{
    background: var(--color-quinto);
    color: var(--color-segundo);
}
header{
    background:linear-gradient(#1f27297e, #0b13154c), url(../img/Hero.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    position: fixed;
    transition: all 0.5s ease;
    padding: 0 50px;
}
.nav img::selection,
.buscador::selection{
    background: var(--color-quinto);
    color: var(--color-segundo);
}
.menu li a::selection{
    background: none;
    color: var(--color-segundo);
}
.nav .logo{
    cursor: pointer;
}
.nav .logo a{
    content: url(../img/rabanadapizza.png);
    height: 60px;
    width: auto;
    transition: all 0.5s ease 0s;
}
.nav .logo img:hover{
    transform: scale(1.2);
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-weight: 900;
}
.menu li a{
    color:var(--color-quinto);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}
.menu li a:hover{
    color: var(--color-primer);
}
.usuario{
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}
.usuario i{
    color: var(--blanco);
    font-size: 30px;
    cursor: pointer;
}
.nav .usuario-btn img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.nav .btn{
    text-decoration: none;
    color: var(--color-quinto);
    font-weight: 900;
}

.btn::selection{
    background: none;
    color: var(--color-segundo);
}
/*---------------------*/
.nav.active{
    background: var(--color-cuarto);
    z-index: 100;
}
/*------------------------------------*/
.hero{
    display: flex;
    align-items: center;
    color: var(--color-quinto);
}
.hero p{
    font-size: 60px;
    font-weight: bold;
}
.hero p::selection{
    color: var(--color-segundo);
}
/*------------------------*/
.feature{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.feature-b{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.feature-b h2{
    font-size: 30px;
    font-weight: 900;
    line-height: 100px;
}
.feature-b-h21{
    grid-column: 1/2;
    grid-row: 2/3;
}
.feature-b-h22{
    grid-column: 2/3;
    grid-row: 2/3;
}
.feature-b-h23{
    grid-column: 3/4;
    grid-row: 2/3;
}
.feature-b p{
    font-size: 20px;
    font-weight: 100;
}
.feature-b-img1{
    grid-row: 1/1;
    grid-column: 1/2;
}
.feature-b-img2{
    grid-row: 1/1;
    grid-column: 2/3;
}
.feature-b-img3{
    grid-row: 1/1;
    grid-column: 3/4;
}
.feature-b img{
    width: auto;
    height: 100px;
}
/*------------------------------*/
.about{
    height: 90vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.about-us{
    width: 80%;
    display: flex;
    height: max-content;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-quinto);
    border: #fdcd2d  solid 15px;
    border-radius: 300px;
}
.about-us-c{
    width: 80%;
    margin:0 30px;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 20px;
}
.about-us-c h2{
    font-size: 30px;
    font-weight: 900;
}
.about-us-c p{    
    font-size: 20px;
    font-weight: 100;
}
.about-us p:first-child{
    content: url(../img/pizzaaa.png);
    width: auto;
    height: 300px;
}
/* .about-us::after{
    content: url(../img/quesoderretido.png);
    position: absolute;
    bottom: -1983px;
    width: 10px;
    left: 350px;
    -webkit-box-reflect: right;
} */
.about-us::before{
    content: url(../img/quesoderretido.png);
    position: absolute;
    bottom: -1984px;
    width: 10px;
    -webkit-box-reflect: left;
}
/*-----------menu---------------*/

.main{
    background: var(--amarillo);
    height: 100vh;
    padding: 30px;
    display: flex;
}
/*---------menu pizza----------*/
/*------------------contenedor componentes--------------*/
.Cmenu{
    background: var(--blanco);
    margin: 130px 0 0 0;
    border-radius:30px 0 0 30px;
    height: 80vh;
    padding: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/*----------barra de scroll-----------*/
::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}
/*----------pizza selection---------------*/
.select-nav{
    display: flex;
    width: 100%;
    position: fixed;
    top: 170px;
    gap: 10px;
    align-items: center;
}
.select-nav select{
    background: var(--amarillo);
    color: var(--blanco);
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 18px;
}
.select-nav select:focus{
    outline: none;
}
.Cmenu-selectType{
    display: flex;
    gap: 10px;
}
.Cmenu-selectType button{
    border: none;
    background: var(--amarillo);
    color: var(--blanco);
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 10px;
}
.Cmenu-selectType button:hover{
    background: var(--rojo);
}
/*--------------- menu card pizza--------------*/
.Cmenu-pizza,
.Cmenu-personal,
.Cmenu-gaseosa,
.Cmenu-adicional{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}
/*----------------card pizza------------*/
.Cmenu-card{
    border-radius: 20px;
    box-shadow:  10px 10px 28px #dfebfd,
    -10px -10px 28px #f6f8fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 680px;
    padding: 10px;
}
.Cmenu-card__img{
    height: 400px;
    display: flex;
    align-items: center;
}
.Cmenu-card__img img{
    width: 400px;
}
.Cmenu-card__info{
    height: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.Cmenu-card__info h2{
    font-size: 22px;
}
.Cmenu-card__info p{
    font-size: 16px;
}
.Cmenu-card__info button{
    background: var(--color-primer);
    border: none;
    color: var(--color-quinto);
    padding: 8px 20px;
    border-radius: 10px;
}
.Cmenu-card__info button:hover{
    background: var(--color-tercer);
}
/*-------------barra lateral menu----------*/
.Cmenu-lateral{
    position: relative;
    background: var(--negro);
    height: 80vh;
    width: 10%;
    margin: 130px 0 0 0;
    border-radius: 0 30px 30px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.Cmenu-lateral button{
    border: none;
    background: var(--blanco);
    width: 100%;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 10px;
}
.Cmenu-lateral button:hover{
    background: var(--verde);
    color: var(--blanco);
    cursor: pointer;
}
.Cmenu-lateral__personalizada{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
}
.Cmenu-lateral div:nth-child(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Cmenu-lateral div:nth-child(2){
    width: 100%;
}
/*--------------Profile------------------------*/
.banner{
    background:linear-gradient(#1f27297e, #0b13154c), url(../img/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}
/*--------------Formularios---------------------*/
.form-contain{
    background: url(../img/form.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.form-contain-f{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1 px solid rgba(255, 255, 255, 0.18);
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: var(--color-quinto);
}
.form-contain-f h1{
    font-size: 35px;
    font-weight: 900;
}
form input{
    margin: 15px 0;
    border-radius: 50px;
    padding: 8px 30px;
    border: none;
    line-height: 1.5;
}
form input:focus{
    outline: none;
}
form input::selection{
    color: var(--color-primer);
    background: none;
}
form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.form-contain-f form{
    display: flex;
    width: 60%;
    flex-direction: column;
}
.form-contain-f a{
    color: var(--color-quinto);
    text-decoration: none;
    font-size: 1em;
}
.form-contain-f-btn{
    display: flex;
    justify-content: center;
}
.form-contain-f-btn button{
    font-weight: 700;
    color: var(--color-segundo);
    padding: var(--boton-padding);
    background: var(--color-quinto);
    text-decoration: none;
    display: inline;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: max-content;
    transition: all 0.3s ease;
}
.form-contain-f-btn button:hover{
    color: var(--color-primer);
}
.volver{
    position: absolute;
    margin: 30px;
    font-size: 22px;
    font-weight: 900;
    color: var(--color-quinto);
    text-decoration: none;
    z-index: 200;
}
.order-form{
    padding: 20px;
    gap: 50px;
    background: var( --color-quinto);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.order-form form input,progress{
    accent-color: var(--color-segundo);
    caret-color: #039e00;
}



/********----------------------------*/
/* section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2{
    position: absolute;
    color: var(--color-quinto);
    font-size: 75px;
    text-align: center;
    transform: translateY(-100px);
}
section a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: var(--color-quinto);
    color: var(--color-cuarto);
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(50px);
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
} */